body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d5e8ff;;
  color: #333;
}

input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4cafa8;
  /* background: linear-gradient(to bottom, #dbeaff, #f7fbff); */
  color: white;
  /* transition: background 0.3s ease; */
  /* box-shadow: 0 2px 5px rgba(145, 111, 111, 0.1); */
    margin-right: 10px;   
    margin-bottom: 10px;
}

button:hover {
  background-color: #4cafa8
}

h2, h3 {
  margin-bottom: 10px;
  color: rgb(42, 50, 165);
}

p {
  font-size: 18px;
  margin: 5px 0;
}

.dashboard-container {
  padding: 20px;
}

.stock-card {
  background: #ffffff44;
  padding: 10px 15px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
